.tickets{
    margin-left: 20px;
}

.tickets__title{
    color: var(--noir, #000);
    font-family: var(--font-familly-body, Roboto);
    font-size: var(--font-font-M, 30px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--font-font-M, 30px);
}

.tickets__subtitle{
    color: var(--noir, #000);
    font-family: var(--font-familly-body, Roboto);
    font-size: var(--font-font-S, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-font-S, 20px);
}

.tickets__item{
    font-family: var(--font-familly-body, Roboto);
    font-size: var(--font-font-xs, 14px);
    font-style: normal;
}

.tickets__from-section{
    font-family: var(--font-familly-body, Roboto);
    font-size: var(--font-font-xs, 14px);
    font-style: normal;
}


.tickets__label{
    color: var(--orange);
    font-family: var(--font-familly-body, Roboto);
    font-size: var(--font-font-xs, 14px);
    font-style: normal;
}

.ticket__option{
    font-family: var(--font-familly-body, Roboto);
    font-size: var(--font-font-xs, 14px);
    font-style: normal;
}

.tickets__button{
    margin: 20px;
    left: 50%;
    display: flex;
    justify-content: center;
}


.tickets__form-group {
    margin-bottom: 15px;
}


.tickets__option {
    padding: 10px;
}


select {
    border: 1px solid var(--vert);
    border-radius: 10px;
    background-color: rgba(242, 156, 98, 0.5); /* Utilise rgba pour définir une couleur de fond semi-transparente */
    padding: 10px;
    font-family: var(--font-familly-body, Roboto);
    font-size: var(--font-font-xs, 14px);
    color: #000; /* Assure que le texte est complètement opaque */
}

option[value] {
    font-family: var(--font-familly-body, Roboto);
    font-size: var(--font-font-xs, 14px);
    color: var(--noir);
    padding: 10px;
    opacity: 1;
}