


.card-acc__icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 40%;
}

.card-acc__title {
    font-family: var(--font-family-body, Roboto);
    font-size: var(--font-size-M, 30px);
    font-weight: 400;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-acc__item {
    display: flex;
    align-items: center;
    margin: 20px;
}

.film {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-acc__img {
    max-width: 300px;
    height: auto;
    margin: 10px;
}

.films__title, .card-acc__nom{
    align-self: stretch;
    font-family: var(--font-family-body, Roboto);
    font-size: var(--font-size-S, 20px);
    display: flex;
    align-items: center;
    margin: 0;
}

.film__description, .card-acc__text {
    max-width: 200px;
    flex-shrink: 0;
    color: var(--noir, #000);
    font-family: var(--font-family-body, Roboto);
    font-size: var(--font-size-XS, 12px);
}

