.hero {
    background: var(--vert, #96BF64);
    width: 100%;
    height: auto;
    position: relative;
}

.hero__title {
    margin-top: 0;
    display: flex;
    justify-content: center;
    color: var(--blanc, #FFF);
    font-family: var(--font-familly-header, Notable);
    font-size: var(--font-font-l);
}

.hero__img{
    width: 130%;
    height: auto;
    margin-left: -15%;
    flex-shrink: 0; 
    position: relative;
    top: 5px;
}