.hero {
    background: var(--vert, #96BF64);
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 0;
}

.hero__title {
    margin-top: 0;
    display: flex;
    justify-content: center;
    color: var(--blanc, #FFF);
    font-family: var(--font-familly-header, Notable);
    font-size: var(--font-font-L, 2em); /* Correction de la syntaxe */
}

.hero__img {
    width: 100%; /* Ajustement pour la réactivité */
    height: auto;
    margin-left: 0; /* Ajustement pour la réactivité */
    flex-shrink: 0; 
    position: relative;
    top: 5px;
}